<%= link_to 'back to band members', people_path %>
<hr/>

<%= form_for @person do |f| %>
	<div style='width: 40%;'>
		<div class='form-group'>
			<%= f.label(:first_name, "First name") %>
			<%= f.text_field :first_name, autofocus: true, class: 'form-control', size: 50, maxlength: 50 %>
		</div>

		<div class='form-group'>
			<%= f.label(:last_name, "Last name") %>
			<%= f.text_field :last_name, size: 50, class: 'form-control', maxlength: 50 %>
		</div>

		<div class='form-group'>
			<%= f.label(:email, "Email") %>
			<%= f.text_field :email, size: 50, class: 'form-control', maxlength: 100 %>
		</div>

		<% flash.alert.each do |msg| %>
			<ul>
				<li><%= content_tag :div, msg, class: 'small' %></li>
			</ul>
		<% end if flash.alert%>

		<%= f.submit "Save", class: "btn btn-info" %>
		<%= f.submit "Reset", type: "reset", class: "btn btn-info" %>
		<%= link_to "Cancel", people_path, class: "btn btn-info" %>
	</div>
<% end %>
