<div>
	<table class='table table-striped table-hover table-condensed'>
		<thead>
			<tr>
				<th>Who?</th>
				<th>What?</th>
				<th class='text-right'>How much?</th>
				<th class='text-right'>How many?</th>
				<th class='text-right'>How much really?</th>
			</tr>
		</thead>`
		<tbody>
			<% @line_items.each do |item| %>
				<tr>
					<td id="full-name"><%= item.person.full_name %></td>
					<td id="description"><%= item.product.description %></td>
					<td class='text-right' id="cost"><%= number_to_currency(item.cost) %></td>
					<td class='text-right' id="quantity"><%= item.quantity %></td>
					<td class='text-right' id="total"><%= number_to_currency(item.cost * item.quantity) %></td>
					<td>
						<%= link_to edit_line_item_path(item) do %>
							<span class="glyphicon glyphicon-pencil"></span>
						<% end %>
					</td>
					<td>
						<%= link_to line_item_path(item), method: :delete, data: { confirm: "Are you sure you want to delete this entry?" } do  %>
							<span class="glyphicon glyphicon-remove"></span>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>